<aside
    id="sidebar"
    class="sidebar"
    aria-hidden="true"
>
    <div class="sidebar-header">
        <strong>Category</strong>

        <button
            id="closeMenuButton"
            class="close-button"
            type="button"
            aria-label="카테고리 메뉴 닫기"
        >
            ×
        </button>
    </div>

    <nav
        class="sidebar-navigation"
        aria-label="카테고리 메뉴"
    >
        <a
            data-href="index.html"
            class="sidebar-main-link"
        >
            Home
        </a>

        <details>
            <summary>YouTube</summary>

            <div class="sidebar-submenu">
                <strong>Original Content</strong>

                <a data-href="pages/youtube/original-content/wanteez/wanteez.html">
                    Wanteez
                </a>

                <a data-href="pages/youtube/original-content/log-book/log-book.html">
                    Log Book
                </a>

                <a data-href="pages/youtube/original-content/fever-road/fever-road.html">
                    Fever Road
                </a>

                <a data-href="pages/youtube/original-content/a-to-z/a-to-z.html">
                    A to Z
                </a>

                <a data-href="pages/youtube/original-content/special-clip/special-clip.html">
                    Special Clip
                </a>

                <strong>External Content</strong>

                <a data-href="pages/youtube/external-content/1n2d/1n2d.html">
                    1N2D
                </a>

                <a data-href="pages/youtube/external-content/idol-human-docu/idol-human-docu.html">
                    Idol Human Docu
                </a>

                <a data-href="pages/youtube/external-content/9teez/9teez.html">
                    9트쫑
                </a>

                <a data-href="pages/youtube/external-content/ateez-plus/ateez-plus.html">
                    ATEEZ+
                </a>

                <a data-href="pages/youtube/external-content/dingo/dingo.html">
                    Dingo
                </a>

                <a data-href="pages/youtube/external-content/etc/etc.html">
                    Etc.
                </a>
            </div>
        </details>

        <details>
            <summary>Radio</summary>

            <div class="sidebar-submenu">

                <a data-href="pages/radio/idol-radio/idol-radio.html">
                    <strong>Idol Radio</strong>
                </a>


                <a data-href="pages/radio/etc/etc.html">
                    <strong>Etc.</strong>
                </a>
            </div>
        </details>

        <details>
            <summary>Show</summary>

            <div class="sidebar-submenu">
                <strong>Reality</strong>

                <a data-href="pages/show/reality/ateez-wanted/ateez-wanted.html">
                    ATEEZ WANTED
                </a>

                <a data-href="pages/show/reality/treasure-film/treasure-film.html">
                    ATEEZ TREASURE FILM
                </a>

                <a data-href="pages/show/reality/treasure-map/treasure-map.html">
                    ATEEZ TREASURE MAP
                </a>

                <a data-href="pages/show/reality/salary-lupin/salary-lupin.html">
                    월급루팡 에이티즈
                </a>

                <a data-href="pages/show/reality/pirate-king-man/pirate-king-man.html">
                    해적왕의 한 남자
                </a>

                <a data-href="pages/show/reality/real-now/real-now.html">
                    Real Now ATEEZ
                </a>

                <strong>Program</strong>

                <a data-href="pages/show/program/immortal-songs/immortal-songs.html">
                    불후의 명곡
                </a>

                <a data-href="pages/show/program/kingdom/kingdom.html">
                    Kingdom
                </a>


                <a data-href="pages/show/etc/etc.html">
                   <strong>Etc.</strong>
                </a>
            </div>
        </details>

        <details>
            <summary>Universe</summary>

            <div class="sidebar-submenu">
                <a data-href="pages/universe/operation-ateez/operation-ateez.html">
                    작전명 ATEEZ
                </a>

                <a data-href="pages/universe/honey-log-jam/honey-log-jam.html">
                    꿀로그잼
                </a>

                <a data-href="pages/universe/pirate-reboot/pirate-reboot.html">
                    해적 리부트
                </a>

                <a data-href="pages/universe/ssap-dance/ssap-dance.html">
                    SSAP 댄스
                </a>

                <a data-href="pages/universe/parasite/parasite.html">
                    기생충
                </a>

                <a data-href="pages/universe/do-not-disturb/do-not-disturb.html">
                    방해금지모드
                </a>

                <a data-href="pages/universe/stress-thing/stress-thing.html">
                    스트레스 띵
                </a>

                <a data-href="pages/universe/the-vikings/the-vikings.html">
                    The Vikings
                </a>

                <a data-href="pages/universe/curse-of-money-hole/curse-of-money-hole.html">
                    머니홀의 저주
                </a>

                <a data-href="pages/universe/rap-up-ateez/rap-up-ateez.html">
                    랩업! ATEEZ
                </a>

                <a data-href="pages/universe/tmt/tmt.html">
                    TMT
                </a>

                <a data-href="pages/universe/gaebbangmeong/gaebbangmeong.html">
                    개빵멍
                </a>

                <a data-href="pages/universe/etc/etc.html">
                    Etc.
                </a>
            </div>
        </details>

        <details>
            <summary>Performance</summary>

            <div class="sidebar-submenu">
                <strong>Concert</strong>

                <a data-href="pages/performance/concert/expedition-tour/expedition-tour.html">
                    The Expedition Tour
                </a>

                <a data-href="pages/performance/concert/map-the-treasure/map-the-treasure.html">
                    The Fellowship : Map the Treasure
                </a>

                <a data-href="pages/performance/concert/beginning-of-the-end/beginning-of-the-end.html">
                    The Fellowship : Beginning of the End
                </a>

                <a data-href="pages/performance/concert/break-the-wall/break-the-wall.html">
                    The Fellowship : Break the Wall
                </a>

                <a data-href="pages/performance/concert/will-to-power/will-to-power.html">
                    Toward the Light : Will to Power
                </a>

                <a data-href="pages/performance/concert/in-your-fantasy/in-your-fantasy.html">
                    In Your Fantasy
                </a>

                <strong>Fan Meeting</strong>

                <a data-href="pages/performance/fan-meeting/del-mundo/del-mundo.html">
                    Del Mundo
                </a>

                <a data-href="pages/performance/fan-meeting/crescent/crescent.html">
                    Crescent
                </a>

                <a data-href="pages/performance/fan-meeting/from-a-to-z/from-a-to-z.html">
                    ATINY's Voyage : From A to Z
                </a>

                <a data-href="pages/performance/fan-meeting/tiny-mystery/tiny-mystery.html">
                    ATINY's Voyage : Tiny Mystery
                </a>

                <strong>Festival</strong>

                <a data-href="pages/performance/festival/coachella/coachella.html">
                    Coachella
                </a>

                <a data-href="pages/performance/festival/mawazine/mawazine.html">
                    Mawazine
                </a>

                <a data-href="pages/performance/festival/bst/bst.html">
                    BST
                </a>

                <a data-href="pages/performance/etc/etc.html">
                    <strong>Etc.</strong>
                </a>
            </div>
        </details>

        <details>
            <summary>Live</summary>

            <div class="sidebar-submenu">
                <strong>Comeback</strong>

                <a data-href="pages/live/comeback/showcase/showcase.html">
                    Showcase
                </a>

                <a data-href="pages/live/comeback/comeback-live/comeback-live.html">
                    Comeback Live
                </a>

                <strong>Anniversary</strong>

                <a data-href="pages/live/anniversary/debut/debut.html">
                    Debut
                </a>

                <a data-href="pages/live/anniversary/1st-anniversary/1st-anniversary.html">
                    1st Anniversary
                </a>

                <a data-href="pages/live/anniversary/2nd-anniversary/2nd-anniversary.html">
                    2nd Anniversary
                </a>

                <a data-href="pages/live/anniversary/3rd-anniversary/3rd-anniversary.html">
                    3rd Anniversary
                </a>

                <a data-href="pages/live/anniversary/4th-anniversary/4th-anniversary.html">
                    4th Anniversary
                </a>

                <a data-href="pages/live/anniversary/5th-anniversary/5th-anniversary.html">
                    5th Anniversary
                </a>

                <a data-href="pages/live/anniversary/6th-anniversary/6th-anniversary.html">
                    6th Anniversary
                </a>

                <a data-href="pages/live/anniversary/7th-anniversary/7th-anniversary.html">
                    7th Anniversary
                </a>

                <a data-href="pages/live/anniversary/8th-anniversary/8th-anniversary.html">
                    8th Anniversary
                </a>

                <a data-href="pages/live/vlive/vlive.html">
                    <strong>V Live</strong>
                </a>

                <a data-href="pages/live/youtubelive/youtubelive.html">
                    <strong>YouTube Live</strong>
                </a>

                <a data-href="pages/live/toktoq/toktoq.html">
                    <strong>TOKTOQ</strong>
                </a>
            </div>
        </details>

        <details>
            <summary>Album</summary>

            <div class="sidebar-submenu">
                <strong>Korea</strong>

                <a data-href="pages/album/korea/treasure-ep1/treasure-ep1.html">
                    Treasure Ep.1 : All to Zero
                </a>

                <a data-href="pages/album/korea/treasure-ep2/treasure-ep2.html">
                    Treasure Ep.2 : Zero To One
                </a>

                <a data-href="pages/album/korea/treasure-ep3/treasure-ep3.html">
                    Treasure Ep.3 : One To All
                </a>

                <a data-href="pages/album/korea/treasure-ep-fin/treasure-ep-fin.html">
                    Treasure Ep.Fin : All to Action
                </a>

                <a data-href="pages/album/korea/treasure-epilogue/treasure-epilogue.html">
                    Treasure Epilogue : Action to Answer
                </a>

                <a data-href="pages/album/korea/fever-part1/fever-part1.html">
                    Zero : Fever Part.1
                </a>

                <a data-href="pages/album/korea/fever-part2/fever-part2.html">
                    Zero : Fever Part.2
                </a>

                <a data-href="pages/album/korea/fever-part3/fever-part3.html">
                    Zero : Fever Part.3
                </a>

                <a data-href="pages/album/korea/fever-epilogue/fever-epilogue.html">
                    Zero : Fever Epilogue
                </a>

                <a data-href="pages/album/korea/movement/movement.html">
                    The World Ep.1 : Movement
                </a>

                <a data-href="pages/album/korea/from-the-witness/from-the-witness.html">
                    Spin Off : From the Witness
                </a>

                <a data-href="pages/album/korea/outlaw/outlaw.html">
                    The World Ep.2 : Outlaw
                </a>

                <a data-href="pages/album/korea/will/will.html">
                    The World Ep.Fin : Will
                </a>

                <a data-href="pages/album/korea/golden-hour-part1/golden-hour-part1.html">
                    Golden Hour : Part.1
                </a>

                <a data-href="pages/album/korea/golden-hour-part2/golden-hour-part2.html">
                    Golden Hour : Part.2
                </a>

                <a data-href="pages/album/korea/golden-hour-part3/golden-hour-part3.html">
                    Golden Hour : Part.3
                </a>

                <a data-href="pages/album/korea/in-your-fantasy-edition/in-your-fantasy-edition.html">
                    Golden Hour : Part.3 'In Your Fantasy Edition'
                </a>

                <a data-href="pages/album/korea/golden-hour-part4/golden-hour-part4.html">
                    Golden Hour : Part.4
                </a>

                <a data-href="pages/album/korea/golden-hour-part5/golden-hour-part5.html">
                    Golden Hour : Part.5
                </a>

                <strong>Single</strong>

                <a data-href="pages/album/single/single.html">
                    Single
                </a>

                <strong>Japan</strong>

                <a data-href="pages/album/japan/japan.html">
                    Japan Albums
                </a>

                <strong>Solo</strong>

                <a data-href="pages/album/solo/hongjoong/hongjoong.html">
                    홍중
                </a>

                <a data-href="pages/album/solo/mingi/mingi.html">
                    민기
                </a>

                <a data-href="pages/album/solo/jongho/jongho.html">
                    종호
                </a>
            </div>
        </details>
    </nav>
</aside>